html
  head
    title=title
    link(rel="stylesheet", href="/css/reset.css")
    link(rel="stylesheet" href="/css/error.css")
title="Error Charlie"
body

    header 
        h1="Où est Error 404 ?"

    div(class="container")
        section(class="right")
            p="Il faut voir le bon coté des choses, on n'a pas trouvé votre page mais on a trouvé Charlie"
        section(class="left")
            img(class="img-charlie" src="/image/ou-est-charlie-png.png" alt="Charlie")

    a(class="" href="https://www.youtube.com/watch?v=N32KQbzdiCA")="Au revoir Charlie"